{{ define "head" }}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Chat</title>

    <script src="//cdn.rawgit.com/dcodeIO/protobuf.js/6.8.6/dist/protobuf.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        main {
            width: 80%;
            max-width: 900px;
            margin: 0 auto;
        }

        .whois {
            margin-bottom: 16px;
            font-size: large;
        }

        .active {
            background: aquamarine;
        }

        .notification {
            margin-bottom: 16px;
        }

        .chats_container {
            margin-bottom: 32px;
        }

        .chat {
            margin-top: 8px;
            margin-left: 8px;
            display: inline;
        }

        .chat_container {

        }

        .users_container {
            margin-top: 8px;
            margin-bottom: 8px;
            margin-left: 8px;
        }

        .user {
            margin-left: 8px;
            margin-bottom: 8px;
            display: inline;
        }

        .create_chat {
            margin-top: 8px;
        }

        .messages_container {
            margin-top: 8px;
            margin-bottom: 8px;
            margin-left: 8px;
        }

        .message {
            margin-left: 8px;
            margin-bottom: 8px;
        }

        .send_message {
        }
    </style>
{{ end }}

{{ define "body" }}
    <main id="app">
        <div class="whois">
            You: {{ .Login }}
        </div>

        <div class="notification">
            <% notification %>
        </div>

        <div class="chats_container" v-if="isChatsVisible">
            <div>Chats</div>
            <div class="chat"
                 :class="{ active: isSelectedChat(chat) }"
                 v-for="chat in chats"
                 @click="chatSelected(chat)">
                <% chat.id %>
            </div>
        </div>

        <div class="chat_container" v-if="selected_chat">
            <div>Chat: <% selected_chat.id %></div>

            <div class="users_container">
                <div>Users</div>
                <div class="user"
                     v-for="user in selected_chat.users"
                     :class="{ active: isSelectedUser(user) }"
                     @click="userSelected(user)"
                >
                    <% user.login %>
                </div>

                <div>
                    <button class="create_chat"
                            v-if="isCreateChatVisible"
                            @click="createChatClicked()">
                        Создать чат
                    </button>
                </div>
            </div>

            <div class="messages_container">
                <div>Messages</div>
                <div class="message" v-for="msg in selected_chat.messages">
                    <% msg.user_login %>: <% msg.message %>
                </div>

                <div class="send_message">
                    <textarea ref="message" v-model="message_to_send" cols="100" rows="6"></textarea>
                    <button @click="sendMessageClicked">Send</button>
                </div>
            </div>
        </div>
    </main>
{{ end }}

{{ define "afterBody" }}
    <script src="./js/chat.js"></script>
{{ end }}
