{{ define "head" }}
<style type="text/css">
    .error {
        color: red;
    }
</style>
{{ end }}

{{ define "script" }}{{ end }}

{{ define "body" }}
    <form method="POST">
        <label for="login">Login:</label><br/>
        <input id="login" type="text" name="login"><br/>
        {{if ne .Error ""}}
            <p class="error">{{.Error}}</p>
        {{end}}
        <input type="submit">
    </form>
{{ end }}

{{ define "afterBody" }}{{ end }}
