<!DOCTYPE html>
<html lang="en">
<head>
    <title>Chat</title>

    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    {{ template "head" . }}
</head>
<body>
{{ template "body" . }}
</body>
{{ template "afterBody" . }}
</html>
